@import url("https://fonts.googleapis.com/css2?family=Fresca&family=Merienda&family=Patrick+Hand&family=Sansita&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", sans-serif;
}

body {
  background-color: rgb(235, 243, 192);
  background-image: url("../../../images/leaves-bg.png");
}

.hidden {
  visibility: hidden;
  padding-bottom: 2%;
}

.fadedBtn {
  border-top: 1px solid rgb(106, 199, 106);
  border-left: 1px solid rgb(82, 187, 82);
  border-right: 1px solid rgb(109, 212, 109);
  border-bottom: 1px solid rgb(130, 221, 130);
  background-color: rgb(112, 201, 112);
  color: white;
  font-size: 1.1rem;
  padding: 1.2rem;
  border-radius: 65% 5%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transform: skewY(-3deg);
}

.fadedBtn:active {
  transform: translate(2px, 2px);
  box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.3);
}

.mainBtn {
  border-top: 1px solid rgb(112, 218, 112);
  border-left: 1px solid rgb(58, 155, 58);
  border-right: 1px solid rgb(66, 165, 66);
  border-bottom: 1px solid rgb(130, 221, 130);
  background-color: rgb(66, 165, 66);
}

.profileBtn {
  position: absolute;
  right: 2vw;
  top: 1vh;
  padding: 0.7rem;
}

.smallBtn {
  /* width: 70%; */
  height: auto;
}

.headerWrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: rgb(235, 243, 192);
  background-image: url("../../../images/leaves-bg.png");
  padding-bottom: 2%;
}

/* .headerWrapper {
  width: 100%;
  background-color: rgb(235, 243, 192);
  background-image: url("../../../images/leaves-bg.png");
} */

.title {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 5rem 0 0;
  font-family: "Sansita", sans-serif;
  font-size: 2.7rem;
}

.filterCategory {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.filterCategory li {
  width: 20%;
  height: auto;
  margin: 1.2rem 0.3rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border: 1px solid #e9c77c8c;
  display: flex;
  align-items: center;
}

.categoryIconFilter {
  padding: 20%;
  max-height: 100%;
  max-width: 100%;
}

.searchWrapper {
  margin: 0 auto 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 2px solid #e9c77c8c;
  background-color: rgba(255, 255, 255, 0.6);
}

.searchWrapper:focus {
  border: 2px solid #92712b;
}

.searchInput {
  background-color: none;
  padding: 2% 2%;
  border: none;
  width: 87%;
}

.searchInput:focus {
  outline: none;
}

.searchBtn {
  background-color: none;
  border: none;
  padding: 2%;
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
}

.searchBtn img {
  height: 100%;
  width: 100%;
}

/*
How to align a non-fixed div to a fixed div so that it stays responsive (different screen sizes won't affect 
the height of the non fixed div and cause it to sink under the fixed div)?
Same for divs fixed at the bottom: How to have the 
*/

.taskWrapper {
  margin-bottom: 20px;
}

.taskExpanded,
.taskMini {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  width: 80%;
  margin: 0 auto 1.5rem;
  border: 1px solid #e9c77c8c;
}

.taskExpanded {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskConcluded {
  position: absolute;
  width: 50px;
  top: -5%;
  left: -8%;
}

.taskMain {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5vh;
}

.titleFavoriteWrapper {
  font-size: 1.2rem;
}

.titleFavoriteWrapper img {
  position: absolute;
  top: 1vw;
  right: 0;
}

.taskDescription {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vh;
  width: 100%;
}

#timeSetter {
  -webkit-appearance: none;
  margin-bottom: 3vh;
  width: 65%;
  outline: none;
  border-radius: 10px;
  background: rgba(255, 68, 0, 0.336);
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: #d39522;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border: none;
  background-color: #d39522;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}

.taskMini {
  position: relative;
  display: flex;
  align-items: center;
}

.taskMini h3 {
  text-overflow: ellipsis;
  width: 65%;
  overflow: hidden;
}

/* .taskMini:last-of-type {
  margin-bottom: 250px;
} */

.taskExpanded img {
  max-height: 15vh;
  padding: 10px;
}

.taskMini img {
  max-height: 10vh;
  padding: 10px;
}

.rewardDisplay {
  width: 100%;
  display: flex;
  align-items: center;
}

.rewardText {
  width: 50%;
  text-align: right;
}

.rewardWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.rewardWrapper img {
  max-width: 30%;
  padding: 2%;
}

.favIcon {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 7vh;
}

.dailyPet {
  border-top: 1px solid rgba(47, 79, 79, 0.1);
  border-bottom: 1px solid rgba(47, 79, 79, 0.1);
  background-color: #f7fae6;
  position: fixed;
  bottom: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animal {
  max-height: 30vw;
  padding: 1vh 0;
  margin: 0 3vw;
}

.imgWrapper {
  position: relative;
}

.changeAnimal {
  position: absolute;
  border-radius: 50%;
  background-color: #eff3db;
  bottom: 10%;
  right: 15%;
  padding: 5px;
  width: 30%;
  height: 30%;
}

.changeAnimal img {
  max-width: 100%;
  max-height: auto;
}

.appleIcon {
  max-width: 6vw;
  margin-left: 1vw;
}

.navWrapper {
  background-color: #f7fae6;
  min-height: 15vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
