.howToPlay {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #816425;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gameIntro > .howToPlay {
  left: 88%;
}

.gameIntro {
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
